html, body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

header,
footer {
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #999;
    z-index: 10000;
}
.header{ 
    display: grid;
    grid-template-columns: 1fr auto;
}
.header .header-btn{
    display: inline-block;
    padding: 0px 10px;
    text-align: center;
    line-height: var(--header-height);
}
footer{ border-top: .5px solid #ccc; }
.body{
    position: relative;
    overflow: auto;
}

/* LIST */
.list-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #efedec;
}
.list-container 
    > .list-header {
        padding: 10px;
        background-color: white;
        border-top: .5px solid #ccc;
        border-bottom: .5px solid #ccc;
    }
.list-container 
    > .list-body {
        overflow-y: auto;
    }
.list-container
    > .list-body
        > .list-item {
            min-height: 30px;
            margin-bottom: 5px;
            background-color: white;
            border-bottom: .5px solid #ccc;
            box-shadow: 0px 0px 3px #ccc;
        }

.event {
    padding: 10px;
    margin-top: 3px;
    border-left: 8px solid transparent;
    border-bottom: .5px solid #ddd;
    display: grid;
    grid-template-columns: 65px auto; }
.event > .event-time,
.event > .event-detail {
    padding-right: 10px; }
.event:hover {
    cursor: pointer;
}
.event.urgent{ border-left-color: #ed1b2e; }
.event.yellow{ border-left-color: orange; }
.event.green{ border-left-color: green; }
.event.blue{ border-left-color: skyblue; }
.event.purple{ border-left-color: purple; }



/* GRID */
.grid-container{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}
.grid-container > .grid-head {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(7, 1fr);
}
.grid-container > .grid-body {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
}
.cell{
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 5px;
    border-right: .5px solid #eee;
    border-bottom: .5px solid #eee;
}
.cell.full-col{
    grid-column: 1 / span 7;
}
.cell > .cell-event{
    width: 100%;
    height: 7px;
    margin-top: 5px;
}
.cell-event.yellow{ background-color: var(--yellow); }
.cell-event.urgent{ background-color: var(--urgent); }
.cell-event.green{ background-color: var(--green); }
.cell-event.blue{ background-color: var(--blue); }
.cell-event.purple{ background-color: var(--purple); }